*ipynb_checkpoints
.cache
.ipython
.jupyter
.local
__pycache__
.config
.mypy_cache
.vscode
*.egg-info
**/altair-data-*
dist/*
build/*
tsconfig.tsbuildinfo
lib/*
node_modules/*
**/.DS_Store
**/.mypy_cache
*.db
yarn-error.log
*.code-workspace
package-lock.json
yarn.lock
*.orig
report.*.json
